Importing Libraries

In [ ]:
from google.colab import files           
import pandas as pd                            
import io
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.linear_model import LinearRegression

Reading the dataset

In [ ]:
upl = files.upload()

Saving Behavior of the urban traffic of the city of Sao Paulo in Brazil.csv to Behavior of the urban traffic of the city of Sao Paulo in Brazil (1).csv

In [ ]:
data = pd.read_csv(io.BytesIO(upl['Behavior of the urban traffic of the city of Sao Paulo in Brazil.csv']),names = ['first','Slowness in traffic'],header = None)

Preparing the dataset

In [ ]:
data

                                                 first  Slowness in traffic
0    Hour (Coded);Immobilized bus;Broken Truck;Vehi...                  NaN
1                  1;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;4                  1.0
2                  2;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;6                  6.0
3                  3;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;8                  7.0
4                  4;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;9                  2.0
..                                                 ...                  ...
131              23;1;0;0;0;1;0;0;0;0;0;0;0;1;0;0;0;17                  8.0
132              24;0;0;0;2;0;0;0;0;0;0;0;0;0;0;0;0;18                  1.0
133              25;1;0;0;2;0;0;0;0;0;0;0;0;0;0;0;0;17                  7.0
134              26;0;4;0;0;0;0;0;0;0;0;0;1;0;0;1;0;17                  4.0
135              27;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;12                  1.0

[136 rows x 2 columns]

In [ ]:
data = data.drop([0])

In [ ]:
data['first'] = data['first'].apply(str)

In [ ]:
data[['Hour (Coded)','Immobilized bus','Broken Truck','Vehicle excess','Accident victim','Running over','Fire vehicles','Occurrence involving freight','Incident involving dangerous freight','Lack of electricity','Fire','Point of flooding','Manifestations','Defect in the network of trolleybuses','Tree on the road','Semaphore off','Intermittent Semaphore','Slowness in Traffic']] = data['first'].str.split(";",expand=True)

In [ ]:
data = data.drop(columns= ['first','Slowness in traffic'])

In [ ]:
data

    Hour (Coded) Immobilized bus  ... Intermittent Semaphore Slowness in Traffic
1              1               0  ...                      0                   4
2              2               0  ...                      0                   6
3              3               0  ...                      0                   8
4              4               0  ...                      0                   9
5              5               0  ...                      0                  11
..           ...             ...  ...                    ...                 ...
131           23               1  ...                      0                  17
132           24               0  ...                      0                  18
133           25               1  ...                      0                  17
134           26               0  ...                      0                  17
135           27               0  ...                      0                  12

[135 rows x 18 columns]

In [ ]:
data.isnull().sum()

Hour (Coded)                             0
Immobilized bus                          0
Broken Truck                             0
Vehicle excess                           0
Accident victim                          0
Running over                             0
Fire vehicles                            0
Occurrence involving freight             0
Incident involving dangerous freight     0
Lack of electricity                      0
Fire                                     0
Point of flooding                        0
Manifestations                           0
Defect in the network of trolleybuses    0
Tree on the road                         0
Semaphore off                            0
Intermittent Semaphore                   0
Slowness in Traffic                      0
dtype: int64

In [ ]:
for i in data.columns:
  print(i,len(pd.unique(data[i])))

Hour (Coded) 27
Immobilized bus 4
Broken Truck 6
Vehicle excess 2
Accident victim 4
Running over 3
Fire vehicles 2
Occurrence involving freight 2
Incident involving dangerous freight 2
Lack of electricity 5
Fire 2
Point of flooding 4
Manifestations 2
Defect in the network of trolleybuses 5
Tree on the road 2
Semaphore off 4
Intermittent Semaphore 2
Slowness in Traffic 21

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data

    Hour (Coded) Immobilized bus  ... Intermittent Semaphore Slowness in Traffic
1              1               0  ...                      0                   4
2              2               0  ...                      0                   6
3              3               0  ...                      0                   8
4              4               0  ...                      0                   9
5              5               0  ...                      0                  11
..           ...             ...  ...                    ...                 ...
131           23               1  ...                      0                  17
132           24               0  ...                      0                  18
133           25               1  ...                      0                  17
134           26               0  ...                      0                  17
135           27               0  ...                      0                  12

[131 rows x 18 columns]

About the dataset

In [ ]:
data.head()

  Hour (Coded) Immobilized bus  ... Intermittent Semaphore Slowness in Traffic
1            1               0  ...                      0                   4
2            2               0  ...                      0                   6
3            3               0  ...                      0                   8
4            4               0  ...                      0                   9
5            5               0  ...                      0                  11

[5 rows x 18 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131 entries, 1 to 135
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Hour (Coded)                           131 non-null    object
 1   Immobilized bus                        131 non-null    object
 2   Broken Truck                           131 non-null    object
 3   Vehicle excess                         131 non-null    object
 4   Accident victim                        131 non-null    object
 5   Running over                           131 non-null    object
 6   Fire vehicles                          131 non-null    object
 7   Occurrence involving freight           131 non-null    object
 8   Incident involving dangerous freight   131 non-null    object
 9   Lack of electricity                    131 non-null    object
 10  Fire                                   131 non-null    object
 11  Point of flooding                      131 non-null    object
 12  Manifestations                         131 non-null    object
 13  Defect in the network of trolleybuses  131 non-null    object
 14  Tree on the road                       131 non-null    object
 15  Semaphore off                          131 non-null    object
 16  Intermittent Semaphore                 131 non-null    object
 17  Slowness in Traffic                    131 non-null    object
dtypes: object(18)
memory usage: 19.4+ KB

In [ ]:
data.describe()

       Hour (Coded) Immobilized bus  ... Intermittent Semaphore Slowness in Traffic
count           131             131  ...                    131                 131
unique           27               4  ...                      2                  21
top              12               0  ...                      0                   8
freq              5              96  ...                    129                  19

[4 rows x 18 columns]

Splitting into train and test data

In [ ]:
train_set, test_set = train_test_split(data, test_size=0.2,random_state=42)

X_train = train_set.drop("Hour (Coded)", axis=1)
y_train = train_set["Hour (Coded)"]

X_test = test_set.drop("Hour (Coded)", axis=1)
y_test = test_set["Hour (Coded)"]

Using a standard scalar

In [ ]:
scale_features_std = StandardScaler()
X_train = scale_features_std.fit_transform(X_train)
X_test = scale_features_std.transform(X_test)

Using linear regression

In [ ]:
reg = LinearRegression().fit(X_train, y_train)

Training accuracy

In [ ]:
reg.score(X_train,y_train)

0.6162978761286619

Predictions

In [ ]:
reg.predict(X_test)

array([ 13.81821699,  15.78367714,  11.99754866,  11.04516199,
        11.11995937,  13.23376122,  17.94228901, -13.13260439,
         8.00481736,  10.14433766,  12.6820102 ,   7.14518974,
        11.14449694,  15.99027997,  14.3914444 ,  22.04837643,
        13.49687879,   4.52230057,  19.53238244,   9.40095763,
         9.33572779,   8.00481736,  16.1810014 ,   7.02983787,
        27.59345136,  19.0306246 ,  17.8216986 ])

Testing accuracy

In [ ]:
reg.score(X_test,y_test)

0.2600739167807328